* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrap{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0 auto;
}

input {
    outline:none;
}

input:focus::placeholder {
    color: transparent;
}

/* Header */

.header{
    padding: 30px 0px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo__link{
    text-decoration: none;
}

.header__logo__link p{
    display: inline;
    font-family: Nunito;
    font-weight: 800;
    font-size: 24px;
    color: #000000;
}

.header__logo p:first-child{
    color: #34b847;
}

.authorization__items{
    display: flex;
}

.authorization__item{
    list-style: none;
    margin-right: 15px;
    position: relative;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    color: #34b847;
}

.authorization__item:last-child {
    margin-right: 0px;
}

.authorization__link{
    color: #000000;
    text-decoration: none;
}

.authorization__item::before {
    display: block;
    content: "";
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 2px;
    background-color: #34b847;
    transition: 0.3s;
}
  
.authorization__item:hover::before {
    width: 25px;
}  

.header__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__profile a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.header__profile__image {
    width: 100%;
    height: auto;
}

/* Main */

.main{
    flex: 1 1 auto;
    position: relative;
}

/* Footer */

.footer{
    padding: 30px 0px;
}

.footer__text p{
    text-align: center;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #a7a7ab;
}

/* Buttons */

.button{
    display: inline-block;
    border-radius: 20px;
    padding: 10px 50px;
    background: #34b847;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.button:hover{
    background: #38A748;
}

.button.red {
    background: #FF5858;
}

.button.red:hover {
    background: #da5555;
}

/* Modules */
.module__status{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.module__status.red{
    background: #FF5858;
}

.module__status.orange{
    background: #FFC658;
}

.module__status.green{
    background: #38A748;
}

.page__header__text {
    font-family: Nunito;
    font-weight: 700;
    font-size: 24px;
    line-height: 83%;
    color: #000;
}


@media (max-width: 500px) {
    .button{
        display: block;
        text-align: center;
        width: 80%;
        padding: 15px 50px;
        margin: auto;
    }
}